/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
:root {
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Roboto Mono", monospace;
  --font-size-primary: 1.9rem;
  --font-size-secondary: 1.3rem;
  --primary-color: #8be3e1;
  --text-color: #36413d;
  --bg-color: #fff;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.6rem);
  }
}
@keyframes drop {
  0% {
    transform: translateY(-50vw);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes right-left {
  0% {
    transform: translateX(50vw);
  }
  100% {
    transform: translateX(0);
  }
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--font-family-primary);
  scroll-snap-type: y mandatory;
}
body::-webkit-scrollbar {
  width: 1rem; /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: var(--primary-color); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color); /* color of the scroll thumb */
  border-radius: 1rem; /* roundness of the scroll thumb */
  border: 0.3rem solid var(--primary-color); /* creates padding around scroll thumb */
}
section {
  scroll-snap-align: start;
  height: 100vh;
}
h2 {
  font-size: 4rem;
  font-weight: 900;
}

.home {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    315deg,
    rgba(192, 255, 255, 0.44861694677871145) 0%,
    rgba(236, 255, 255, 1) 3%,
    rgba(255, 255, 255, 1) 74%
  );
}
.header {
  height: 6vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  grid-area: header;
  padding: 0 6rem;
}
.header-option {
  font-family: var(--font-family-primary);
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.1s ease-in;
}
.header-option:last-child {
  padding: 0.9rem;
  border-radius: 0.3rem;
  color: #fff;
  border: solid 0.3rem var(--text-color);
  background-color: var(--text-color);
  transition: all ease-out 0.3s;
}
.header-option:last-child:hover {
  color: var(--primary-color);
  border: solid 0.3rem var(--primary-color);
  background-color: #fff;
}
.header-option:hover {
  color: var(--primary-color);
  animation: ease-in 0.4s 0.3s alternate infinite bounce;
}
.home-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-content div {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 0 auto;
  animation: 0.9s ease forwards drop;
  grid-area: img;
}
.home-content div:last-child {
  animation: 0.9s ease forwards right-left;
  grid-area: text;
}
.home-content img {
  height: 90vh;
}
.home-content h1 {
  font-size: 4.6rem;
  font-weight: 900;
}
.home-content h1 img {
  height: 3.6rem;
}
.home-content span {
  width: 36vw;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.06rem;
  line-height: 1.6rem;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 0 6rem;
  background: linear-gradient(
    218deg,
    rgba(192, 255, 255, 0.44861694677871145) 0%,
    rgba(236, 255, 255, 1) 3%,
    rgba(255, 255, 255, 1) 74%
  );
}
.projects-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
.projects-card {
  width: 33rem;
  height: 16rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  transition: all 0.3 ease-out;
}
.projects-card-content {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.projects-card-content p {
  width: 12vw;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.1rem;
}
.projects-card-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.3rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  text-align: center;
}
.projects-card-logo::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 3rem;
  right: 0;
  border-right: 0.1rem solid var(--primary-color);
  height: 60%;
}
.projects-card-logo img {
  height: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
}
.projects-card-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects-card-stack img {
  height: 1.6rem;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 6px 12px 0px;
  opacity: 90%;
}

.experience {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0;
  background: rgb(192, 255, 255);
  background: radial-gradient(
    circle,
    rgba(192, 255, 255, 0.2189250700280112) 30%,
    rgba(255, 255, 255, 1) 77%
  );
}
.exp-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.exp-bg {
  height: 80vh;
  display: block;
}
.exp-card {
  width: 20vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
  border-radius: 1rem;
}
.exp-card h6 {
  font-size: 1.9rem;
  font-weight: 600;
}
.exp-card div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
  text-align: center;
}
.exp-card div img {
  height: 6rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  opacity: 75%;
  transition: all 0.3s ease-in-out;
  background-color: #fdfdfd;
}
.exp-card div img:hover {
  height: 7rem;
  opacity: 100%;
  box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
  z-index: 1;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    13deg,
    rgba(192, 255, 255, 0.6811099439775911) 0%,
    rgba(236, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 74%
  );
}
.contact-img {
  height: 76vh;
}
.contact div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact div div {
  width: 20vw;
  height: 12vh;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
.contact div a {
  width: 3rem;
  height: 3rem;
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  transition: all 0.3s ease-in-out;
}
.contact div a:hover {
  width: 4rem;
  height: 4rem;
  box-shadow: rgba(100, 100, 111) 0px 7px 29px 0px;
}
.contact div a img {
  opacity: 80%;
}
.contact div a img:hover {
  opacity: 100%;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
  .header {
    height: 12vh;
    justify-content: space-around;
    gap: 0rem;
    padding: 0 0.3rem;
  }
  .header-option {
    font-size: 0.8rem;
  }
  .header-option:last-child {
    padding: 0.6rem;
  }

  .home-content {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 3rem 0rem;
    gap: 2rem;
  }
  .home-content img {
    height: 40vh;
  }
  .home-content div {
    gap: 1.9rem;
  }
  .home-content div:last-child {
    flex-grow: 2;
  }
  .home-content h1 {
    font-size: 2.3rem;
  }
  .home-content h1 img {
    height: 1.8rem;
  }
  .home-content span {
    width: 80vw;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.06rem;
    line-height: 1rem;
  }

  h2 {
    font-size: 2rem;
  }

  .projects {
    gap: 3rem;
    padding: 0 1.6rem;
  }
  .projects-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .projects-card {
    width: 90%;
    grid-template-columns: 1fr 2fr;
    height: auto;
    gap: 0.6rem;
    padding: 1.1rem;
    position: relative;
  }
  .projects-card-content {
    gap: 0.6rem;
    flex-direction: column;
  }
  .projects-card-content p {
    width: auto;
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: center;
  }
  .projects-card-logo {
    gap: 0.3rem;
    font-size: 0.6rem;
    line-height: 0.6rem;
  }
  .projects-card-logo::after {
    height: 3rem;
    top: -0.6rem;
  }
  .projects-card-logo img {
    display: none;
  }
  .projects-card-stack {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    position: absolute;
    left: 1.3rem;
    bottom: 0.6rem;
  }
  .projects-card-stack img {
    height: 0.9rem;
  }

  .experience {
    padding: 2rem 0;
  }
  .exp-content {
    flex-direction: column;
  }
  .exp-bg {
    height: 18rem;
  }
  .exp-card {
    width: 80%;
    min-height: auto;
    gap: 1rem;
    padding: 0;
  }
  .exp-card h6 {
    font-size: 1.3rem;
  }
  .exp-card div {
    padding: 0 3rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .exp-card div img {
    height: 4rem;
    opacity: 100%;
  }
  .exp-card div img:hover {
    height: 4rem;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    z-index: 1;
  }

  .contact {
    gap: 26vh;
    justify-content: flex-start;
    position: relative;
    overflow-y: hidden;
  }
  .contact h2 {
    padding-top: 3rem;
  }
  .contact div div {
    gap: 2rem;
  }
  .contact-img {
    height: 30rem;
    position: absolute;
    bottom: -7rem;
  }
}

/* Medium devices such as tablets (768px and up) */
/* @media only screen and (min-width: 48em) {...} */

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (min-width: 64em) {...} */

/* Largest devices such as desktops (1280px and up) */
/* @media only screen and (min-width: 80em) {...} */
